
@import url(styles/reset.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);

:root {
    --branco: #FFFFFF;
    --fundo: #EBECEE;
    --azul-degrade: linear-gradient(0deg, #002F52 0%, #002F52 100%);
    --laranja: #EB9B00;

    --fonte-primaria: normal 400 16px "Poppins", sans-serif;
    --fonte-primaria-medium: normal 500 16px "Poppins", sans-serif;
    --fonte-primaria-bold: normal 700 16px "Poppins", sans-serif;
}

body {
    color: var(--branco);
    background-color: var(--fundo);
    font: var(--fonte-primaria);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    padding: .5em;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 1em;
}

.cabecalho__lista {
    display: flex;
    align-items: center;
}

.lista__item{
    padding: .5em;
}

.menu__hamburguer {
    display: none;
}

.menu__hamburguer:checked ~ .icone-menu{
    background-color: black;
}