
@import url(styles/banner.css);

:root {
    --branco: #FFFFFF;
    --fundo: #EBECEE;
    --azul-degrade: linear-gradient(0deg, #002F52 0%, #002F52 100%);
}

body {
    color: var(--branco);
    background-color: var(--fundo);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    padding: .5em;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 1em;
}

.cabecalho__lista {
    display: flex;
    align-items: center;
}

.lista__item{
    padding: .5em;
}

.menu__hamburguer {
    display: none;
}

.menu__hamburguer:checked ~ .icone-menu{
    background-color: black;
}